#full-clndr .clndr-grid {
    width: 100%;
    border-right: 0px solid white;
}

#full-clndr .event-listing {
    width: 100%;
}


.cal1 .clndr .clndr-table tr .day.today.event {
  background: #a7dbc1;
}
