<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">

  <title>おそ松さんカレンダー</title>
  <meta name="description" content="アニメおそ松さん関連カレンダー">
  <meta name="author" content="MonockLab">


  <!-- <link rel="icon" type="image/ico" href="favicon.ico"> -->
  <link rel="stylesheet" type="text/css" href="css/clndr/prism.css" />

  <!--[if lte IE 8]>
      <script src="js/clndr/jquery1.10.js"></script>
      <script src="js/clndr/html5shiv.js"></script>
      <link rel="stylesheet" type="text/css" href="css/clndr.css" />
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet/less" type="text/css" href="css/clndr/clndr.less" />
  <link rel="stylesheet/less" type="text/css" href="css/style.css" />
  <script src="js/clndr/jquery2.js" type="text/javascript"></script>
  <script src="js/clndr/less.js" type="text/javascript"></script>
  <!--<![endif]-->

  <script src="js/clndr/prism.js" type="text/javascript"></script>
  <script src="js/clndr/underscore.js" type="text/javascript"></script>
  <script src="js/clndr/moment.js" type="text/javascript"></script>
  <script src="js/clndr/clndr.js" type="text/javascript"></script>
  <script src="js/clndr/site.js" type="text/javascript"></script>
  <script src="js/script.js" type="text/javascript"></script>
</head>
<body>

  <div class="wrap">

    <div class="block bg-gray">
      <div class="inner">

        <h1 class="banner-text">おそ松さんカレンダー</h1>

        <div id="full-clndr" class="clearfix">
          <script type="text/template" id="full-clndr-template">
            <div class="clndr-controls">
              <div class="clndr-previous-button">&lt;</div>
              <div class="clndr-next-button">&gt;</div>
              <div class="current-month"><%= month %> <%= year %></div>

            </div>
            <div class="clndr-grid">
              <div class="days-of-the-week clearfix">
                <% _.each(daysOfTheWeek, function(day) { %>
                  <div class="header-day"><%= day %></div>
                <% }); %>
              </div>
              <div class="days">
                <% _.each(days, function(day) { %>
                  <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                <% }); %>
              </div>
            </div>
            <div class="event-listing">
              <div class="event-listing-title">EVENTS THIS MONTH</div>
              <% _.each(eventsThisMonth, function(event) { %>
                  <div class="event-item">
                    <div class="event-item-name">【<%= event.date %>】<%= event.title %></div>
                    <div class="event-item-location"><%= event.location %></div>
                    <%= event.description %>
                  </div>
                <% }); %>
            </div>
          </script>
        </div>
        <!--
        <h3 class="banner-text below">Get the code at <a href="http://github.com/kylestetz/CLNDR">http://github.com/kylestetz/CLNDR</a></h3>
      -->
      </div>
    </div>

  </div>

</body>
</html>
